body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 50px;
}

.center {
    text-align: right;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 300px;
}

